<div id="<%= dom_id list %>">
  <p>
    <strong>Description:</strong>
    <%= list.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= list.status %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= list.users_id %>
  </p>

</div>
